* {
    font-family: Poppins;
}

body {
    background-color: #113946;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 30vh;
}

form {
    background-color: #d7ceb2;
    font-family: Poppins;
    border: 1px solid #9c9c9c;
    border-radius: 25px;
    width: 650px;
    padding: 25px;
    color: #113946;
    margin-top: 28px; /* Adjusted margin-top to move the container down */
}
input {
    border: none;
    font-family: poppins;
    border-radius: 9px;
    margin-bottom: -2px; /* Further reduced spacing */
    padding: 0 10px;
    height: 35px;
    font-size: 15px;
    width: 290px;
    text-transform: uppercase;
}

input:focus {
    border: 1.5px solid #113946;
}

.name {
    display: inline-block;
}

input[type="name"], input[type="text"] {
    display: block;
    margin: 2px 0 0 10px; /* Further reduced spacing */
    padding-right: 5px;
}

label {
    position: relative;
    font-family: poppins;
    color: #555;
    font-size: 15px;
    pointer-events: none;
    left: 20px;
    top: -28px;
    transition: 0.2s all;
    text-transform: uppercase;
}

input:focus ~label, input:valid ~label {
    top: -49px;
    left: 15px;
    background: #fff;
    padding: 0 5px;
    font-size: 10px;
    color: #535878;
    text-transform: uppercase;
}

.line1 {
    font-size: 15px;
    margin: -30px 0 0 15px;
    color: #113946;
}

input.wide-input {
    width: 610px;
}

input[type="checkbox"] {
    width: 15px;
    height: 15px;
}

.name label[for="gender"] {
    color: #113946;
}

.name input[type="text"],
.name input[type="password"] {
    display: block;
    margin: -2px 0 0 10px; /* Further reduced spacing */
    padding-right: 5px;
}

.name input[type="text"] {
    display: block;
    margin: -2px 0 0 10px; /* Further reduced spacing */
    padding-right: 5px;
}

.name label[for="resident"] {
    color: #113946;
}

select.wide-input {
    outline: none;
    border: 1px solid #9c9c9c;
    border-radius: 5px;
    height: 38px;
    font-size: 15px;
    width: 380px;
    text-transform: uppercase;
}

select.wide-input:focus {
    border: 1.5px solid #113946;
}
